http_interactions:
- request:
    method: get
    uri: https://api.dataforsyningen.dk/afstemningsomraader/autocomplete?q=Dok
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      x-gravitee-client-identifier: 948768a6f45dd39605267d52f6a113932f9da99bc9daeffbbcc2165499a39266
      content-type: application/json; charset=UTF-8
      x-gravitee-transaction-id: cc6f6862-fbbb-4188-af68-62fbbb81884c
      x-gravitee-request-id: cc6f6862-fbbb-4188-af68-62fbbb81884c
    body:
      encoding: ''
      file: no
      string: |-
        [
        {
          "tekst": "DOKK1",
          "afstemningsområde": {
            "ændret": "2024-05-08T21:01:09.316Z",
            "geo_version": 7,
            "geo_ændret": "2024-05-08T21:01:09.316Z",
            "bbox": [
              10.20300286,
              56.14667099,
              10.22323179,
              56.1707942
            ],
            "visueltcenter": [
              10.21425194,
              56.16615378
            ],
            "href": "https://api.dataforsyningen.dk/afstemningsomraader/751/10",
            "dagi_id": "708544",
            "nummer": "10",
            "navn": "DOKK1",
            "afstemningssted": {
              "navn": "DOKK1",
              "adgangsadresse": {
                "href": "https://api.dataforsyningen.dk/adgangsadresser/c1496b42-51c0-48ed-afc7-b340ac97ae13",
                "id": "c1496b42-51c0-48ed-afc7-b340ac97ae13",
                "adressebetegnelse": "Hack Kampmanns Plads 2, 8000 Aarhus C",
                "koordinater": [
                  10.21377573,
                  56.15343598
                ]
              }
            },
            "kommune": {
              "href": "https://api.dataforsyningen.dk/kommuner/0751",
              "kode": "0751",
              "navn": "Aarhus"
            },
            "region": {
              "href": "https://api.dataforsyningen.dk/regioner/1082",
              "kode": "1082",
              "navn": "Region Midtjylland"
            },
            "opstillingskreds": {
              "href": "https://api.dataforsyningen.dk/opstillingskredse/65",
              "nummer": "65",
              "navn": "Aarhus Øst"
            },
            "storkreds": {
              "href": "https://api.dataforsyningen.dk/storkredse/8",
              "nummer": "8",
              "navn": "Østjylland"
            },
            "valglandsdel": {
              "href": "https://api.dataforsyningen.dk/valglandsdele/C",
              "bogstav": "C",
              "navn": "Midtjylland-Nordjylland"
            }
          }
        }, {
          "tekst": "Farsø",
          "afstemningsområde": {
            "ændret": "2023-03-24T22:28:38.837Z",
            "geo_version": 2,
            "geo_ændret": "2023-03-24T22:28:38.837Z",
            "bbox": [
              9.25970617,
              56.72686765,
              9.46120488,
              56.82630266
            ],
            "visueltcenter": [
              9.33587034,
             [...]
