http_interactions:
- request:
    method: get
    uri: https://api.dataforsyningen.dk/kommuner/autocomplete?q=br%C3%B8nder
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      x-gravitee-client-identifier: ba2fd62a350a38ea99d7226c07bf038267905ff3be49ab7bf917b0e45361b5a9
      content-type: application/json; charset=UTF-8
      x-gravitee-transaction-id: 421ae152-c3d1-49ae-9ae1-52c3d139ae83
      x-gravitee-request-id: 421ae152-c3d1-49ae-9ae1-52c3d139ae83
    body:
      encoding: ''
      file: no
      string: |-
        [
        {
          "tekst": "0810 Brønderslev",
          "kommune": {
            "ændret": "2024-01-19T22:03:58.050Z",
            "geo_version": 8,
            "geo_ændret": "2024-01-19T22:03:58.050Z",
            "bbox": [
              9.73560852,
              57.06944718,
              10.44883359,
              57.34353124
            ],
            "visueltcenter": [
              10.27821906,
              57.17989923
            ],
            "href": "https://api.dataforsyningen.dk/kommuner/0810",
            "dagi_id": "389199",
            "kode": "0810",
            "navn": "Brønderslev",
            "udenforkommuneinddeling": false,
            "regionskode": "1081",
            "region": {
              "href": "https://api.dataforsyningen.dk/regioner/1081",
              "kode": "1081",
              "navn": "Region Nordjylland"
            }
          }
        }
        ]
  recorded_at: 2025-06-06 13:39:31 GMT
  recorded_with: vcr/1.7.0, webmockr/2.0.0
