http_interactions:
- request:
    method: get
    uri: https://api.dataforsyningen.dk/kommuner/autocomplete?q=br%C3%B8nder
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      x-gravitee-client-identifier: 38beb9d21ed1371fa32420f02c924a9e066e36339500664c02f9a5b0f6a9fa58
      content-type: application/json; charset=UTF-8
      x-gravitee-transaction-id: bc2cfc45-01a7-4c6c-acfc-4501a77c6ce5
      x-gravitee-request-id: bc2cfc45-01a7-4c6c-acfc-4501a77c6ce5
    body:
      encoding: ''
      file: no
      string: |-
        [
        {
          "tekst": "0810 Brønderslev",
          "kommune": {
            "ændret": "2024-01-19T22:03:58.050Z",
            "geo_version": 8,
            "geo_ændret": "2024-01-19T22:03:58.050Z",
            "bbox": [
              9.73560852,
              57.06944718,
              10.44883359,
              57.34353124
            ],
            "visueltcenter": [
              10.27821906,
              57.17989923
            ],
            "href": "https://api.dataforsyningen.dk/kommuner/0810",
            "dagi_id": "389199",
            "kode": "0810",
            "navn": "Brønderslev",
            "udenforkommuneinddeling": false,
            "regionskode": "1081",
            "region": {
              "href": "https://api.dataforsyningen.dk/regioner/1081",
              "kode": "1081",
              "navn": "Region Nordjylland"
            }
          }
        }
        ]
  recorded_at: 2024-12-24 09:52:04 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
