http_interactions:
- request:
    method: get
    uri: https://api.dataforsyningen.dk/politikredse?struktur=flad
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      x-gravitee-client-identifier: 948768a6f45dd39605267d52f6a113932f9da99bc9daeffbbcc2165499a39266
      content-type: application/json; charset=UTF-8
      x-gravitee-transaction-id: 36dc642e-1ecf-4698-9c64-2e1ecf9698d8
      x-gravitee-request-id: 36dc642e-1ecf-4698-9c64-2e1ecf9698d8
    body:
      encoding: ''
      file: no
      string: |-
        [
        {
          "dagi_id": "403210",
          "kode": "1460",
          "navn": "Nordjyllands Politi",
          "ændret": "2024-10-04T21:02:54.978Z",
          "geo_ændret": "2024-10-04T21:02:54.978Z",
          "geo_version": 31,
          "bbox_xmin": 9.02950728,
          "bbox_ymin": 56.53454667,
          "bbox_xmax": 11.22599137,
          "bbox_ymax": 57.76284264,
          "visueltcenter_x": 10.11281992,
          "visueltcenter_y": 57.30715466
        }, {
          "dagi_id": "403214",
          "kode": "1461",
          "navn": "Østjyllands Politi",
          "ændret": "2025-01-01T22:02:15.652Z",
          "geo_ændret": "2025-01-01T22:02:15.652Z",
          "geo_version": 21,
          "bbox_xmin": 9.65149577,
          "bbox_ymin": 55.74769587,
          "bbox_xmax": 11.65848576,
          "bbox_ymax": 56.76423281,
          "visueltcenter_x": 10.65638132,
          "visueltcenter_y": 56.38459184
        }, {
         [...]
