http_interactions:
- request:
    method: get
    uri: https://api.dataforsyningen.dk/regioner?struktur=flad
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      x-gravitee-client-identifier: ba2fd62a350a38ea99d7226c07bf038267905ff3be49ab7bf917b0e45361b5a9
      content-type: application/json; charset=UTF-8
      x-gravitee-transaction-id: cb061ad4-b3ea-40d0-861a-d4b3ea20d019
      x-gravitee-request-id: cb061ad4-b3ea-40d0-861a-d4b3ea20d019
    body:
      encoding: ''
      file: no
      string: |-
        [
        {
          "dagi_id": "389098",
          "kode": "1081",
          "navn": "Region Nordjylland",
          "nuts2": "DK05",
          "ændret": "2024-10-04T21:02:54.978Z",
          "geo_ændret": "2024-10-04T21:02:54.978Z",
          "geo_version": 32,
          "bbox_xmin": 8.18951662,
          "bbox_ymin": 56.53454667,
          "bbox_xmax": 11.22599137,
          "bbox_ymax": 57.76025478,
          "visueltcenter_x": 10.11282907,
          "visueltcenter_y": 57.30715928
        }, {
          "dagi_id": "389101",
          "kode": "1082",
          "navn": "Region Midtjylland",
          "nuts2": "DK04",
          "ændret": "2025-05-14T21:02:41.891Z",
          "geo_ændret": "2025-05-14T21:02:41.891Z",
          "geo_version": 46,
          "bbox_xmin": 8.07887623,
          "bbox_ymin": 55.64437916,
          "bbox_xmax": 11.66419061,
          "bbox_ymax": 56.84325702,
          "visueltcenter_x": 9.60503157,
          "visueltcenter_y": 56.23399[...]
