http_interactions:
- request:
    method: get
    uri: https://api.dataforsyningen.dk/regioner?struktur=flad
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      x-gravitee-client-identifier: 948768a6f45dd39605267d52f6a113932f9da99bc9daeffbbcc2165499a39266
      content-type: application/json; charset=UTF-8
      x-gravitee-transaction-id: cd4f451c-32d0-45c2-8f45-1c32d065c202
      x-gravitee-request-id: cd4f451c-32d0-45c2-8f45-1c32d065c202
    body:
      encoding: ''
      file: no
      string: |-
        [
        {
          "dagi_id": "389098",
          "kode": "1081",
          "navn": "Region Nordjylland",
          "nuts2": "DK05",
          "ændret": "2024-10-04T21:02:54.978Z",
          "geo_ændret": "2024-10-04T21:02:54.978Z",
          "geo_version": 32,
          "bbox_xmin": 8.18951662,
          "bbox_ymin": 56.53454667,
          "bbox_xmax": 11.22599137,
          "bbox_ymax": 57.76025478,
          "visueltcenter_x": 10.11282907,
          "visueltcenter_y": 57.30715928
        }, {
          "dagi_id": "389101",
          "kode": "1082",
          "navn": "Region Midtjylland",
          "nuts2": "DK04",
          "ændret": "2024-10-11T21:03:05.131Z",
          "geo_ændret": "2024-10-11T21:03:05.131Z",
          "geo_version": 43,
          "bbox_xmin": 8.07887623,
          "bbox_ymin": 55.64437916,
          "bbox_xmax": 11.66419061,
          "bbox_ymax": 56.84325702,
          "visueltcenter_x": 9.60503157,
          "visueltcenter_y": 56.23399[...]
