http_interactions:
- request:
    method: get
    uri: https://api.dataforsyningen.dk/regioner
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      x-gravitee-client-identifier: 948768a6f45dd39605267d52f6a113932f9da99bc9daeffbbcc2165499a39266
      content-type: application/json; charset=UTF-8
      x-gravitee-transaction-id: 8f00c4d0-11e6-4ab2-80c4-d011e65ab216
      x-gravitee-request-id: 8f00c4d0-11e6-4ab2-80c4-d011e65ab216
    body:
      encoding: ''
      file: no
      string: |-
        [
        {
          "ændret": "2024-10-04T21:02:54.978Z",
          "geo_version": 32,
          "geo_ændret": "2024-10-04T21:02:54.978Z",
          "bbox": [
            8.18951662,
            56.53454667,
            11.22599137,
            57.76025478
          ],
          "visueltcenter": [
            10.11282907,
            57.30715928
          ],
          "dagi_id": "389098",
          "kode": "1081",
          "navn": "Region Nordjylland",
          "nuts2": "DK05",
          "href": "https://api.dataforsyningen.dk/regioner/1081"
        }, {
          "ændret": "2025-01-01T22:02:15.652Z",
          "geo_version": 44,
          "geo_ændret": "2025-01-01T22:02:15.652Z",
          "bbox": [
            8.07887623,
            55.64437916,
            11.66419061,
            56.84325702
          ],
          "visueltcenter": [
            9.60503514,
            56.23399153
          ],
          "dagi_id": "389101",
          "kode": "1082",
          "navn": "Region Midtjy[...]
