http_interactions:
- request:
    method: get
    uri: https://api.dataforsyningen.dk/regioner
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      x-gravitee-client-identifier: 38beb9d21ed1371fa32420f02c924a9e066e36339500664c02f9a5b0f6a9fa58
      content-type: application/json; charset=UTF-8
      x-gravitee-transaction-id: d239d112-7b7f-46a3-b9d1-127b7f86a388
      x-gravitee-request-id: d239d112-7b7f-46a3-b9d1-127b7f86a388
    body:
      encoding: ''
      file: no
      string: |-
        [
        {
          "ændret": "2024-10-04T21:02:54.978Z",
          "geo_version": 32,
          "geo_ændret": "2024-10-04T21:02:54.978Z",
          "bbox": [
            8.18951662,
            56.53454667,
            11.22599137,
            57.76025478
          ],
          "visueltcenter": [
            10.11282907,
            57.30715928
          ],
          "dagi_id": "389098",
          "kode": "1081",
          "navn": "Region Nordjylland",
          "nuts2": "DK05",
          "href": "https://api.dataforsyningen.dk/regioner/1081"
        }, {
          "ændret": "2024-10-11T21:03:05.131Z",
          "geo_version": 43,
          "geo_ændret": "2024-10-11T21:03:05.131Z",
          "bbox": [
            8.07887623,
            55.64437916,
            11.66419061,
            56.84325702
          ],
          "visueltcenter": [
            9.60503157,
            56.23399042
          ],
          "dagi_id": "389101",
          "kode": "1082",
          "navn": "Region Midtjy[...]
