http_interactions:
- request:
    method: get
    uri: https://api.dataforsyningen.dk/regioner
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      x-gravitee-client-identifier: 3d5c78aed2b561d089a652f9b0d5b8d38b580aea4591927650ad7f3e45bb966f
      content-type: application/json; charset=UTF-8
      x-gravitee-transaction-id: af9e75bd-1cb2-4102-9e75-bd1cb2f102db
      x-gravitee-request-id: af9e75bd-1cb2-4102-9e75-bd1cb2f102db
    body:
      encoding: ''
      file: no
      string: |-
        [
        {
          "ændret": "2024-10-04T21:02:54.978Z",
          "geo_version": 32,
          "geo_ændret": "2024-10-04T21:02:54.978Z",
          "bbox": [
            8.18951662,
            56.53454667,
            11.22599137,
            57.76025478
          ],
          "visueltcenter": [
            10.11282907,
            57.30715928
          ],
          "dagi_id": "389098",
          "kode": "1081",
          "navn": "Region Nordjylland",
          "nuts2": "DK05",
          "href": "https://api.dataforsyningen.dk/regioner/1081"
        }, {
          "ændret": "2025-02-04T22:02:46.244Z",
          "geo_version": 45,
          "geo_ændret": "2025-02-04T22:02:46.244Z",
          "bbox": [
            8.07887623,
            55.64437916,
            11.66419061,
            56.84325702
          ],
          "visueltcenter": [
            9.60503157,
            56.23399042
          ],
          "dagi_id": "389101",
          "kode": "1082",
          "navn": "Region Midtjy[...]
