http_interactions:
- request:
    method: get
    uri: https://api.dataforsyningen.dk/regioner/reverse?x=9.284236&y=56.96055
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      x-gravitee-client-identifier: 3d5c78aed2b561d089a652f9b0d5b8d38b580aea4591927650ad7f3e45bb966f
      content-type: application/json; charset=UTF-8
      x-gravitee-transaction-id: 9d55dc21-3f63-445e-95dc-213f63c45e5c
      x-gravitee-request-id: 9d55dc21-3f63-445e-95dc-213f63c45e5c
    body:
      encoding: ''
      file: no
      string: |-
        {
          "ændret": "2024-10-04T21:02:54.978Z",
          "geo_version": 32,
          "geo_ændret": "2024-10-04T21:02:54.978Z",
          "bbox": [
            8.18951662,
            56.53454667,
            11.22599137,
            57.76025478
          ],
          "visueltcenter": [
            10.11282907,
            57.30715928
          ],
          "dagi_id": "389098",
          "kode": "1081",
          "navn": "Region Nordjylland",
          "nuts2": "DK05",
          "href": "https://api.dataforsyningen.dk/regioner/1081"
        }
  recorded_at: 2025-02-26 13:58:49 GMT
  recorded_with: vcr/1.6.0, webmockr/2.0.0
