http_interactions:
- request:
    method: get
    uri: https://api.dataforsyningen.dk/politikredse/reverse?x=11.55341&y=55.32309
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      x-gravitee-client-identifier: ba2fd62a350a38ea99d7226c07bf038267905ff3be49ab7bf917b0e45361b5a9
      content-type: application/json; charset=UTF-8
      x-gravitee-transaction-id: 5a8b2436-8c04-44b8-8b24-368c0434b8af
      x-gravitee-request-id: 5a8b2436-8c04-44b8-8b24-368c0434b8af
    body:
      encoding: ''
      file: no
      string: |-
        {
          "ændret": "2025-05-14T21:02:41.891Z",
          "geo_version": 19,
          "geo_ændret": "2025-05-14T21:02:41.891Z",
          "bbox": [
            10.90936714,
            54.54440636,
            12.60710481,
            55.60197214
          ],
          "visueltcenter": [
            11.49387303,
            55.35123766
          ],
          "dagi_id": "403211",
          "kode": "1466",
          "navn": "Sydsjællands og Lolland-Falsters Politi",
          "href": "https://api.dataforsyningen.dk/politikredse/1466"
        }
  recorded_at: 2025-06-06 13:39:57 GMT
  recorded_with: vcr/1.7.0, webmockr/2.0.0
