http_interactions:
- request:
    method: get
    uri: https://api.dataforsyningen.dk/politikredse/reverse?x=11.55341&y=55.32309
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      x-gravitee-client-identifier: 3d5c78aed2b561d089a652f9b0d5b8d38b580aea4591927650ad7f3e45bb966f
      content-type: application/json; charset=UTF-8
      x-gravitee-transaction-id: 25b9fc55-ca32-42b6-b9fc-55ca3232b6f4
      x-gravitee-request-id: 25b9fc55-ca32-42b6-b9fc-55ca3232b6f4
    body:
      encoding: ''
      file: no
      string: |-
        {
          "ændret": "2024-10-22T21:04:04.354Z",
          "geo_version": 18,
          "geo_ændret": "2024-10-22T21:04:04.354Z",
          "bbox": [
            10.90936714,
            54.54440636,
            12.60710481,
            55.60197214
          ],
          "visueltcenter": [
            11.49387303,
            55.35123766
          ],
          "dagi_id": "403211",
          "kode": "1466",
          "navn": "Sydsjællands og Lolland-Falsters Politi",
          "href": "https://api.dataforsyningen.dk/politikredse/1466"
        }
  recorded_at: 2025-02-26 13:58:50 GMT
  recorded_with: vcr/1.6.0, webmockr/2.0.0
