http_interactions:
- request:
    method: get
    uri: https://api.dataforsyningen.dk/afstemningsomraader/reverse?x=10.21471&y=56.15354
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      x-gravitee-client-identifier: ba2fd62a350a38ea99d7226c07bf038267905ff3be49ab7bf917b0e45361b5a9
      content-type: application/json; charset=UTF-8
      x-gravitee-transaction-id: f20cdb5d-2225-4f5e-8cdb-5d2225ff5efc
      x-gravitee-request-id: f20cdb5d-2225-4f5e-8cdb-5d2225ff5efc
    body:
      encoding: ''
      file: no
      string: |-
        {
          "ændret": "2024-05-08T21:01:09.316Z",
          "geo_version": 7,
          "geo_ændret": "2024-05-08T21:01:09.316Z",
          "bbox": [
            10.20300286,
            56.14667099,
            10.22323179,
            56.1707942
          ],
          "visueltcenter": [
            10.21425194,
            56.16615378
          ],
          "href": "https://api.dataforsyningen.dk/afstemningsomraader/751/10",
          "dagi_id": "708544",
          "nummer": "10",
          "navn": "DOKK1",
          "afstemningssted": {
            "navn": "DOKK1",
            "adgangsadresse": {
              "href": "https://api.dataforsyningen.dk/adgangsadresser/c1496b42-51c0-48ed-afc7-b340ac97ae13",
              "id": "c1496b42-51c0-48ed-afc7-b340ac97ae13",
              "adressebetegnelse": "Hack Kampmanns Plads 2, 8000 Aarhus C",
              "koordinater": [
                10.21377573,
                56.15343598
              ]
            }
          },
          "kommune": {
            "href": "https://api.dataforsyningen.dk/kommuner/0751",
            "kode": "0751",
            "navn": "Aarhus"
          },
          "region": {
            "href": "https://api.dataforsyningen.dk/regioner/1082",
            "kode": "1082",
            "navn": "Region Midtjylland"
          },
          "opstillingskreds": {
            "href": "https://api.dataforsyningen.dk/opstillingskredse/65",
            "nummer": "65",
            "navn": "Aarhus Øst"
          },
          "storkreds": {
            "href": "https://api.dataforsyningen.dk/storkredse/8",
            "nummer": "8",
            "navn": "Østjylland"
          },
          "valglandsdel": {
            "href": "https://api.dataforsyningen.dk/valglandsdele/C",
            "bogstav": "C",
            "navn": "Midtjylland-Nordjylland"
          }
        }
  recorded_at: 2025-06-06 13:39:56 GMT
  recorded_with: vcr/1.7.0, webmockr/2.0.0
