http_interactions:
- request:
    method: get
    uri: https://api.dataforsyningen.dk/regioner/reverse?x=12.58515&y=55.68324
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      x-gravitee-client-identifier: 3d5c78aed2b561d089a652f9b0d5b8d38b580aea4591927650ad7f3e45bb966f
      content-type: application/json; charset=UTF-8
      x-gravitee-transaction-id: 63a0b605-0b1c-426e-a0b6-050b1c626e38
      x-gravitee-request-id: 63a0b605-0b1c-426e-a0b6-050b1c626e38
    body:
      encoding: ''
      file: no
      string: |-
        {
          "ændret": "2024-10-04T21:02:54.978Z",
          "geo_version": 31,
          "geo_ændret": "2024-10-04T21:02:54.978Z",
          "bbox": [
            11.60211644,
            54.98354657,
            15.31831444,
            56.20520188
          ],
          "visueltcenter": [
            12.27937393,
            55.97238879
          ],
          "dagi_id": "389099",
          "kode": "1084",
          "navn": "Region Hovedstaden",
          "nuts2": "DK01",
          "href": "https://api.dataforsyningen.dk/regioner/1084"
        }
  recorded_at: 2025-02-26 13:58:47 GMT
  recorded_with: vcr/1.6.0, webmockr/2.0.0
