http_interactions:
- request:
    method: get
    uri: https://api.dataforsyningen.dk/regioner/reverse?x=9.284236&y=56.96055
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      x-gravitee-client-identifier: ba2fd62a350a38ea99d7226c07bf038267905ff3be49ab7bf917b0e45361b5a9
      content-type: application/json; charset=UTF-8
      x-gravitee-transaction-id: 6efa1ea2-d4f5-4272-ba1e-a2d4f542726d
      x-gravitee-request-id: 6efa1ea2-d4f5-4272-ba1e-a2d4f542726d
    body:
      encoding: ''
      file: no
      string: |-
        {
          "ændret": "2024-10-04T21:02:54.978Z",
          "geo_version": 32,
          "geo_ændret": "2024-10-04T21:02:54.978Z",
          "bbox": [
            8.18951662,
            56.53454667,
            11.22599137,
            57.76025478
          ],
          "visueltcenter": [
            10.11282907,
            57.30715928
          ],
          "dagi_id": "389098",
          "kode": "1081",
          "navn": "Region Nordjylland",
          "nuts2": "DK05",
          "href": "https://api.dataforsyningen.dk/regioner/1081"
        }
  recorded_at: 2025-06-06 13:39:56 GMT
  recorded_with: vcr/1.7.0, webmockr/2.0.0
