http_interactions:
- request:
    method: get
    uri: https://api.dataforsyningen.dk/regioner/reverse?x=9.284236&y=56.96055
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      x-gravitee-client-identifier: 38beb9d21ed1371fa32420f02c924a9e066e36339500664c02f9a5b0f6a9fa58
      content-type: application/json; charset=UTF-8
      x-gravitee-transaction-id: 572d5860-ea09-463f-ad58-60ea09163f07
      x-gravitee-request-id: 572d5860-ea09-463f-ad58-60ea09163f07
    body:
      encoding: ''
      file: no
      string: |-
        {
          "ændret": "2024-10-04T21:02:54.978Z",
          "geo_version": 32,
          "geo_ændret": "2024-10-04T21:02:54.978Z",
          "bbox": [
            8.18951662,
            56.53454667,
            11.22599137,
            57.76025478
          ],
          "visueltcenter": [
            10.11282907,
            57.30715928
          ],
          "dagi_id": "389098",
          "kode": "1081",
          "navn": "Region Nordjylland",
          "nuts2": "DK05",
          "href": "https://api.dataforsyningen.dk/regioner/1081"
        }
  recorded_at: 2024-12-24 09:52:26 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
