http_interactions:
- request:
    method: get
    uri: https://api.dataforsyningen.dk/regioner/reverse?x=12.58515&y=55.68324
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      x-gravitee-client-identifier: 38beb9d21ed1371fa32420f02c924a9e066e36339500664c02f9a5b0f6a9fa58
      content-type: application/json; charset=UTF-8
      x-gravitee-transaction-id: f7ab19e7-5fe8-4a70-ab19-e75fe8da7070
      x-gravitee-request-id: f7ab19e7-5fe8-4a70-ab19-e75fe8da7070
    body:
      encoding: ''
      file: no
      string: |-
        {
          "ændret": "2024-10-04T21:02:54.978Z",
          "geo_version": 31,
          "geo_ændret": "2024-10-04T21:02:54.978Z",
          "bbox": [
            11.60211644,
            54.98354657,
            15.31831444,
            56.20520188
          ],
          "visueltcenter": [
            12.27937393,
            55.97238879
          ],
          "dagi_id": "389099",
          "kode": "1084",
          "navn": "Region Hovedstaden",
          "nuts2": "DK01",
          "href": "https://api.dataforsyningen.dk/regioner/1084"
        }
  recorded_at: 2024-12-24 09:52:24 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
