http_interactions:
- request:
    method: get
    uri: https://api.dataforsyningen.dk/regioner/reverse?x=12.58515&y=55.68324
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      x-gravitee-client-identifier: ba2fd62a350a38ea99d7226c07bf038267905ff3be49ab7bf917b0e45361b5a9
      content-type: application/json; charset=UTF-8
      x-gravitee-transaction-id: ddb10ec3-774f-40ba-b10e-c3774ff0badb
      x-gravitee-request-id: ddb10ec3-774f-40ba-b10e-c3774ff0badb
    body:
      encoding: ''
      file: no
      string: |-
        {
          "ændret": "2024-10-04T21:02:54.978Z",
          "geo_version": 31,
          "geo_ændret": "2024-10-04T21:02:54.978Z",
          "bbox": [
            11.60211644,
            54.98354657,
            15.31831444,
            56.20520188
          ],
          "visueltcenter": [
            12.27937393,
            55.97238879
          ],
          "dagi_id": "389099",
          "kode": "1084",
          "navn": "Region Hovedstaden",
          "nuts2": "DK01",
          "href": "https://api.dataforsyningen.dk/regioner/1084"
        }
  recorded_at: 2025-06-06 13:39:55 GMT
  recorded_with: vcr/1.7.0, webmockr/2.0.0
