http_interactions:
- request:
    method: get
    uri: https://api.dataforsyningen.dk/afstemningsomraader/reverse?x=12.58515&y=55.68324
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      x-gravitee-client-identifier: 38beb9d21ed1371fa32420f02c924a9e066e36339500664c02f9a5b0f6a9fa58
      content-type: application/json; charset=UTF-8
      x-gravitee-transaction-id: 9e3d7546-38cd-4bfd-bd75-4638cd0bfd8e
      x-gravitee-request-id: 9e3d7546-38cd-4bfd-bd75-4638cd0bfd8e
    body:
      encoding: ''
      file: no
      string: |-
        {
          "ændret": "2024-04-24T21:01:20.921Z",
          "geo_version": 9,
          "geo_ændret": "2024-04-24T21:01:20.921Z",
          "bbox": [
            12.56174278,
            55.67167972,
            12.60247309,
            55.69652398
          ],
          "visueltcenter": [
            12.58836986,
            55.68591197
          ],
          "href": "https://api.dataforsyningen.dk/afstemningsomraader/101/14",
          "dagi_id": "707672",
          "nummer": "14",
          "navn": "3. Øst",
          "afstemningssted": {
            "navn": "Nyboder Skole",
            "adgangsadresse": {
              "href": "https://api.dataforsyningen.dk/adgangsadresser/0a3f507b-342a-32b8-e044-0003ba298018",
              "id": "0a3f507b-342a-32b8-e044-0003ba298018",
              "adressebetegnelse": "Øster Voldgade 15, 1350 København K",
              "koordinater": [
                12.58624455,
                55.69057176
              ]
            }
          },
          "kommune": {
            "href": "https://api.dataforsyningen.dk/kommuner/0101",
            "kode": "0101",
            "navn": "København"
          },
          "region": {
            "href": "https://api.dataforsyningen.dk/regioner/1084",
            "kode": "1084",
            "navn": "Region Hovedstaden"
          },
          "opstillingskreds": {
            "href": "https://api.dataforsyningen.dk/opstillingskredse/3",
            "nummer": "3",
            "navn": "Indre By"
          },
          "storkreds": {
            "href": "https://api.dataforsyningen.dk/storkredse/1",
            "nummer": "1",
            "navn": "København"
          },
          "valglandsdel": {
            "href": "https://api.dataforsyningen.dk/valglandsdele/A",
            "bogstav": "A",
            "navn": "Hovedstaden"
          }
        }
  recorded_at: 2024-12-24 09:51:54 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
