name: Automatic release to R-Universe

on:
  push:
    branches:
      - main # Trigger the workflow when changes are pushed to the 'main' branch

permissions:
  contents: write
  pull-requests: write

jobs:
  create_pull_request:
    runs-on: ubuntu-24.04
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v6
        with:
          ref: universe-release

      - name: Reset promotion branch
        run: |
          git fetch origin main:main
          git reset --hard main

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v8
        with:
          branch: update-universe-release
          commit-message: update universe release
          title: Update R-Universe release
          body: This PR is automatically created and pushes recent additions from the main branch to the r-universe release branch.

      - name: Enable auto-merge
        if: steps.cpr.outputs.pull-request-number
        run: |
          gh pr merge --auto --merge "${{ steps.cpr.outputs.pull-request-number }}"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}